<div class="container-fluid container-colored one-announce no-arrow">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-12 p-0 position-relative">
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <a data-fancybox="gallery" href="/images/annonces/{{ annonce.imageName1 }}">
                            <img class="img-carousel" src="/images/annonces/{{ annonce.imageName1 }}" alt="Ulm à vendre - {{ annonce.TypeVehicule }} - {{ annonce.Titre }} - Image 1"/>
                        </a>
                        </div>

                        {% if annonce.imageName2 != null %}
                        <div class="carousel-item">
                            <a data-fancybox="gallery" href="/images/annonces/{{ annonce.imageName2 }}">
                            <img class="img-carousel" src="/images/annonces/{{ annonce.imageName2 }}" alt="Ulm à vendre - {{ annonce.TypeVehicule }} - {{ annonce.Titre }} - Image 2"/>
                            </a>
                        </div>
                        {% endif %}

                        {% if annonce.imageName3 != null %}
                        <div class="carousel-item">
                            <a data-fancybox="gallery" href="/images/annonces/{{ annonce.imageName3 }}">
                            <img class="img-carousel" src="/images/annonces/{{ annonce.imageName3 }}" alt="Ulm à vendre - {{ annonce.TypeVehicule }} - {{ annonce.Titre }} - Image 3"/>
                            </a>
                        </div>
                        {% endif %}
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
           <div class="col-lg-6 col-md-8 col-sm-12 my-auto">
             <h1 class="mt-3">
                {{ annonce.Titre }}<br>
                <span class="text-orange">{{ annonce.Prix|format_number({rounding_mode: 'floor'}) }} €</span> - {% if annonce.Etat == "Neuf" %} Neuf {% endif %}{% if annonce.Etat == "TBE" %} Très bon état {% endif %}
            </h1>
                {% if annonce.Etat == "BE" %}
                <h2>Bon état : A été utilisé mais est toujours en bon état, avec quelques signes d'usure ou de dommages mineurs.</h2>
                {% endif %}
                {% if annonce.Etat == "ES" %}
                <h2>État satisfaisant : Présente certains signes d'usure et de dommages, mais est encore fonctionnel.</h2>
                {% endif %}
                {% if annonce.Etat == "PIECES" %}
                <h2>Pour pièces : Endommagé ou ne fonctionne plus correctement et est destiné à être utilisé pour les pièces détachées.</h2>
                {% endif %}
                <div class="text-center  mt-4 mb-4">
                    <a class="btn btn-primary btn-lg" href="{{ path('app_message_new', {'annonceId': annonce.id, 'conversationId': conversationId}) }}">
                        <i class="fa-solid fa-magnifying-glass-arrow-right mr-2"></i> CONTACTEZ LE VENDEUR
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid one-announce mt-3">
    <div class="container container-colored-light container-announce">
            <p>{{ annonce.Description|nl2br }}</p>
    </div>
</div>
<div class="container-fluid container-colored pt-0 one-announce no-arrow">
    <div class="container">
        <h4 class="mt-5">Où se trouve le camion ?
            <a href="https://www.google.com/maps?channel=fs&q={{annonce.Region}}+{{ annonce.Ville }}" target="_blank" rel="nofollow">
                {{annonce.Region}} - {{ annonce.Ville }}
            </a>
        </h4>
        <div class="row mx-auto text-center mt-5">
            <div class="col-lg-4 col-md-6">
                <p><img src="/images/sleeping.png" alt="bed" class="icon mr-3"/> <strong>{{ annonce.NbrCouchage}} couchages</strong></p>
            </div>
            <div class="col-lg-4 col-md-6">
                <p><img src="/images/road.png" alt="bed" class="icon mr-3"/> <strong>{{annonce.KM}} km</strong></p>
            </div>        
            <div class="col-lg-4 col-md-12">
                <p><img src="/images/check.png" alt="bed" class="icon mr-3"/> <strong>Contrôle technique : {{annonce.DateCT}}</strong></p>
            </div>
        </div>
        <div class="row mt-5 mb-0 pb-0">
            <div class="mx-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a href="{{ path('index') }}" itemprop="item"><span itemprop="name">Accueil</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a href="{{ path('app_annonce_index') }}" itemprop="item"><span itemprop="name">Toutes les annonces</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li aria-current="page" class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="{{ path('app_annonce_show', {'SlugTitre': annonce.SlugTitre}) }}" itemprop="item"><span itemprop="name">{{ annonce.Titre }}</span></a>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    Fancybox.bind('[data-fancybox="gallery-desk"]', {});
    Fancybox.bind('[data-fancybox="gallery"]', {});
</script>
