{% extends 'base.html.twig' %}

{% block title %}Ulm à vendre - Messagerie interne
{% endblock %}
{% block meta %}
	<meta name="description" content="Consultez et gérez facilement tous vos messages sur notre plateforme. Restez en contact avec les autres membres et suivez vos conversations en un seul endroit. ulmavendre.fr - Messagerie interne.">
	<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block body %}
<div class="new-announce">
    <div class="container-fluid container-colored conversations no-arrow">
        <div class="container pt-5">
            <div class="row p-0 m-0">
                <div class="col-lg-6 col-md-4 col-sm-12 p-0 position-relative">
                    <img src="{{ asset('/images/bkg5.jpg') }}" alt="image-accueil" class="img-fluid img-top"/>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12 my-auto text-center">
                    <h1>Notre messagerie, <br>rapide & sécurisée.</h1>
                </div>
            </div>
        </div>
    </div>
	<div class="container-fluid pb-5 conversations">
		<div class="container container-colored-light pb-5">
			<h5>Messagerie : annonce(s) en ligne(s)</h5>
			<hr>
			<div class="mx-auto">
					<ul class="list-groups p-0 row mb-5">
						{% for conversation in conversations %}
							{% if conversation.annonce.ACTIVE == true %}
								<a href="{{ path('app_message_new', {'annonceId': conversation.annonce.id, 'conversationId': conversation.id}) }}" class="mt-2 col-lg-4 col-md-12">
									<li class="list-group-item mx-auto text-center">
										{% if conversation.Envoyeur != app.user %}
											<p class="text-center">
												<span class="text-success">{{ conversation.Envoyeur.email[:3] ~ '***' }}</span>
												vous a contacté au sujet de l'annonce :
												<br>
												<strong>{{ conversation.annonce.Titre[:20] ~ '...' }}</strong>
											</p>
										{% else %}
											<p class="text-center">Vous avez contacté
												<span class="text-success">{{ conversation.Receveur.email[:1] ~ '***' }}</span>
												au sujet de l'annonce :
												<br><strong>{{ conversation.annonce.Titre[:20] ~ '...' }}</strong>
											</p>
										{% endif %}
										<div class="btn btn btn-sm btn-primary mt-0">
											Voir cette conversation
											{% if conversation.envoyeur == app.user.email %}
												{% if conversation.VuParEnvoyeur == 0 %}
													<span class="badge badge-warning pr-3 pl-3 text-lg">1 Nouveau Message !</span>
												{% else %}
													<span class="badge badge-primary pr-3 pl-3 text-lg">Pas de nouveau Message !</span>
												{% endif %}
											{% endif %}
											{% if conversation.receveur == app.user.email %}
												{% if conversation.VuParReceveur == 0 %}
													<span class="badge badge-warning pr-3 pl-3 text-lg">1 Nouveau Message !</span>
												{% else %}
													<span class="badge badge-primary pr-3 pl-3 text-lg">Pas de nouveau Message !</span>
												{% endif %}
											{% endif %}
										</div>
									</li>
								</a>
							{% endif %}
						{% else %}
							<div class="mx-auto pt-5">
								<img src="{{asset('images/refuel.png')}}" alt="image pas de conversation">
								<p>Pas encore de conversation</p>
							</div>
						{% endfor %}
					</ul>
				</div>
				<h5>Messagerie : annonce(s) archivée(s)</h5>
				<hr>
				<ul class="list-group mt-3">
				{% for conversation in conversations %}
					{% if conversation.annonce.ACTIVE == false %}
							<a href="{{ path('app_message_new', {'annonceId': conversation.annonce.id, 'conversationId': conversation.id}) }}">
								<li class="list-group-item">
									{% if conversation.Envoyeur != app.user %}
										<p class="text-center">
											<span class="text-success">{{ conversation.Envoyeur[:3] ~ '***' }}</span>
											vous a contacté au sujet de l'annonce :
											<strong>{{ conversation.annonce.Titre }}</strong>
										</p>
									{% else %}
										<p class="text-center">Vous avez contacté
											<span class="text-success">{{ conversation.Receveur[:1] ~ '***' }}</span>
											au sujet de l'annonce :<strong>{{ conversation.annonce.Titre }}</strong>
										</p>
									{% endif %}
								</li>
							</a>
						</ul>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
